<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <h1><%= @title %></h1>
    <p><%= @subtitle %></p>
    
    <% @projects.each do |project| %>
    <table>
      <form method="post" action="id">
	<input type="hidden" name="body3" value="<%= project['id'] %>">
	<tr>
	  <td><%= project["id"] %>:</td>
	  <td><%= project["title"] %></td>
	  <td>
	    <input type="submit" value="表示">
	  </td>
      </form>
      <% end %>
      
  </body>
</html>

